section {
  display: flex;
  justify-content: center;

  height: 90vh;
}

.signout-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  max-height: calc(90vh - 100px);
}

.signout-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 50vw;
}

.signout-form-box .field {
  width: 100%;
}

.signout-form-box .field .label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.signout-form-box .field .input {
  margin-bottom: 1rem;
}

.signout-form-box .button:hover {
  border-color: #e7484b;
  background-color: #e7484b;
}

@media screen and (max-width: 768px) {
  .signout-form-container {
    height: 100vh;
    max-height: calc(90vh - 100px);
  }

  .signout-form-box {
    width: 90vw;
    height: 90vh;
  }
}
