<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>콜렉샵</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />
    <!-- bulma css 관련 -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    /> -->
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="adminOrderList.css" />
    <link rel="stylesheet" href="../../style.css" />
    <script src="adminOrderList.js" type="module" defer></script>
  </head>
  <body>
    <div id="wrap">
      <!-- 헤더 -->
      <nav></nav>
      <section>
        <div id="order-container">
          <div id="title">주문 내역</div>
          <div class="seperator"></div>
          <div class="order-list-box">
            <div class="order-header">
              <div>주문 번호</div>
              <div>날짜</div>
              <div>주문 정보</div>
              <div>주문 상태</div>
              <div>상태 변경</div>
              <div>주문 취소</div>
            </div>
            <div class="seperator"></div>
            <div class="order-list"></div>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
