section {
  display: flex;
  justify-content: center;
}

#order-container {
  width: 80%;
  margin-top: 5vh;
}
#title {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.order-list-box {
  width: 100%;
}
.order-header,
.order-data {
  display: grid;
  grid-template-columns: 4fr 3fr 4fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.order-header {
  padding: 3vh 1vw;
}
.order-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3%;
}
.order-data {
  margin-bottom: 3vh;
  padding: 3vh 1vw;
}
.order-data:hover {
  border: 1px solid #f01e21;
}
.order-data .order-name {
  display: flex;
  flex-direction: column;
}
.order-data #cancelButton {
  width: 80%;
  height: 5vh;

  border-color: #f01e21;
  border-radius: 7px;
  background-color: #f01e21;

  font-weight: bold;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  section {
    height: auto;
  }
  .item-form {
    flex-direction: column;
  }
  .item-form .form-sector {
    width: 100%;
  }
}
