<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="list.css" />
    <script src="list.js" type="module" defer></script>
  </head>
  <body>
    <div class="div-container">
      <!-- 헤더 style="background-color: #202020" -->
      <nav>헤더</nav>

      <div class="item-list">
        <!-- <div class="list-wrapper">
          <div class="list-img"">
            <img class="item-img" src="#" alt="item-list-image" />
          </div>
          
          <div class="description">
            <p class="name">상품명</p>
            <div class="recommended">추천</div>
            <p class="price">가격</p>
            <p class="summary">요약 설명</p>
          </div>
        </div>
        
        <div class="list-wrapper">
          <div class="list-img"">
            <img class="item-img" src="#" alt="item-list-image" />
          </div>
          
          <div class="description">
            <p class="name">상품명</p>
            <div class="recommended">추천</div>
            <p class="price">가격</p>
            <p class="summary">요약 설명</p>
          </div>
        </div>

        <div class="list-wrapper">
          <div class="list-img"">
            <img class="item-img" src="#" alt="item-list-image" />
          </div>
          
          <div class="description">
            <p class="name">상품명</p>
            <div class="recommended">추천</div>
            <p class="price">가격</p>
            <p class="summary">요약 설명</p>
          </div>
        </div> -->
      </div>
    </div>

    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>By Team 20.</p>
      </div>
    </footer>
  </body>
</html>
