section.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 50px 10% 20px;
}

div.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 500px;
}

div.imgBox {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
}

#itemImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#itemName {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

#summary {
  width: 100%;
  font-size: 0.8rem;
}

#price {
  color: red;
  margin-top: 1rem;
}

@media all and (max-width: 768px) {
  section.item-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 768px) and (max-width: 1100px) {
  section.item-list {
    grid-template-columns: 1fr 1fr;
  }
}
