<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="Collector's" />
    <meta
      name="description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta property="og:title" content="Collector's" />
    <meta
      property="og:description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta
      property="og:image"
      content="https://team20.s3.ap-northeast-2.amazonaws.com/image/2e32c500e182-11ec-83b6-a91808427d79.png"
    />
    <meta property="og:url" content="홈페이지 url" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="홈페이지 url" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="홈페이지 url" />
    <meta name="twitter:title" content="Collector's" />
    <meta
      name="twitter:description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta
      name="twitter:image"
      content="https://team20.s3.ap-northeast-2.amazonaws.com/image/2e32c500e182-11ec-83b6-a91808427d79.png"
    />
    <meta
      name="keywords"
      content="마블, 초능력, 쇼핑몰, 무기, 히어로, 빌런, 능력, 마법"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collector's</title>

    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- Progressbar.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"
      integrity="sha512-EZhmSl/hiKyEHklogkakFnSYa5mWsLmTC4ZfvVzhqYNLPbXKAXsjUYRf2O9OlzQN33H0xBVfGSEIUeqt9astHQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="terms.css" />
    <link rel="stylesheet" href="../../style.css" />
    <script src="terms.js" type="module" defer></script>
  </head>
  <body>
    <div id="wrap">
      <!-- 헤더 -->
      <nav></nav>
      <!-- 사이드 퀵 메뉴 -->
      <div id="quick-menu"></div>
      <!-- 컨텐트 -->
      <section id="items">
        <h1>이용 안내</h1>
        <div class="seperator"></div>
        <p>해당 안내를 읽지 않아 발생하는 문제는 책임지지 않습니다.</p>
        <div class="seperator"></div>
        <h3>제1조(목적)</h3>
        <p>
          본 약관은 서비스 이용자가 우주 최강이 되기 위해 우주 서비스 이용에
          필요한 사항을 정하는 것을 목적으로 합니다.
        </p>
        <div class="seperator"></div>
        <h3>제2조(환불 규정)</h3>
        <p>
          환불은 불가능하며, 문제가 있는 경우 알아서 지체 없이 처리하도록
          합니다.
        </p>
        <div class="seperator"></div>
        <h3>제3조(고객 등급)</h3>
        <p>
          고객 등급은 일정 금액 이상을 구매하시면 달성할 수 있으며 해당 등급에
          맞는 할인 혜택이 주어집니다. 등급은 아래와 같습니다.
        </p>
        <div class="seperator"></div>
        <div class="wrap">
          <p>Peter Parker 등급</p>
          <p>일반 구매 고객</p>
          <p>Doctor Strange 등급</p>
          <p>50만원 이하 구매 고객</p>
          <p>Tony Stark 등급</p>
          <p>200만원 이하 구매 고객</p>
          <p>Black Panther 등급</p>
          <p>500만원 이상 구매 고객</p>
        </div>
        <div id="peter-parker">Peter Parker 등급</div>
        <div id="doctor-strange">Doctor Strange 등급</div>
        <div id="iron-man">Tony Stark 등급</div>
        <div id="black-panther">Black Panther 등급</div>
      </section>
      <!-- 푸터 -->
      <footer></footer>
    </div>
  </body>
</html>
