section {
  display: flex;
  justify-content: center;

  min-height: 90vh;
}

.order-container {
  width: 80%;
  margin: 5vh auto 0;
}

.order-title {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.order-header,
.order-list {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 2fr;
  place-content: center;
  place-items: center;
  text-align: center;
}

.order-header {
  padding: 3vh 1vw;
}

.order-list {
  height: 20vh;
}

.order-list:hover {
  border: 1px solid #f01e21;
}

.order-list > div {
  padding: 3vh 1vw;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-list .shipped {
  color: #2cc236;
}
.order-list .main-btn {
  width: 75%;
}
.cancel-btn:disabled,
.cancel-btn:disabled:hover {
  background-color: dimgray;
  border: 1px;
  color: white;
}

@media all and (max-width: 768px) {
  .order-header {
    grid-template-columns: 1fr 2fr;
    height: 5rem;
    gap: 0.5rem;
  }

  .order-header > h3 {
    font-size: 1rem;
    font-weight: normal;
  }

  .order-list {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    place-content: center;
    place-items: center;
    text-align: center;
  }

  .order-number {
    display: none;
  }
}
