<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    /> -->
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order.css" />
    <link rel="stylesheet" href="../style.css" />
    <script src="order.js" type="module" defer></script>
  </head>
  <body>
    <div id="wrap">
      <!-- 헤더 -->
      <nav></nav>
      <!-- 컨텐트 -->
      <section id="order">
        <div class="order-container">
          <div class="order-title">
            <h2>주문 내역 조회</h2>
          </div>

          <div class="order-info">
            <div class="order-header">
              <h3>날짜</h3>
              <h3>주문 정보</h3>
              <h3>주문 상태</h3>
              <h3>주문 취소</h3>
            </div>
            <div class="order-data"></div>
          </div>
        </div>
      </section>
      <!-- 푸터 -->
      <footer></footer>
    </div>
  </body>
</html>
