.order-container {
  width: 95%;
  height: 300vh;
  margin: 0 auto;
}

.order-title {
  border-bottom: 1px solid white;
  margin: 20px 0;
}

.order-header,
.order-list {
  display: grid;
  grid-template-columns: 50px 100px 3fr 2fr 100px;
  place-content: center;
  place-items: center;
  text-align: center;
}

.order-list {
  height: 4rem;
  border-top: 1px solid #fff;
}

#cancelButton {
  width: 75%;
  height: 4vh;
  border-color: #f01e21;
  border-radius: 7px;
  background-color: #f01e21;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

#cancelButton:hover {
  border-color: #e7484b;
  background-color: #e7484b;
}

@media all and (max-width: 768px) {
  .order-header {
    display: flex;
    flex-direction: column;
  }

  .order-header > h3 {
    font-size: 1rem;
    font-weight: normal;
  }

  .order-data {
    grid-template-columns: 1fr;
  }
}
