section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-user-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 40%;
  height: 70vh;
}

.register-user-form-box .field {
  width: 100%;
}

.register-user-form-box .field .label {
  display: block;
  margin-bottom: 10px;
}
