.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.register-user-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 30rem;
  height: 70%;
}

.register-user-form-box .field{
  width: 100%;
}

.register-user-form-box .field .label{
  display: block;
  margin-bottom: 10px;
}

.register-user-form-box .field .input{
  width:98%;
  height:5vh;
  padding-left: 2%;

  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  outline-style: none;

  color:black;
}

.register-user-form-box .field .input:focus {
  border: 0.5px solid #e7484b;
  box-shadow: 0 0 0 0.125em #F01E21;
}

.register-user-form-box .button {
  width:100%;
  height:5vh;

  border-color: #F01E21;
  border-radius: 7px;
  background-color: #F01E21;

  font-weight: bold;
}

.register-user-form-box .button:hover{
  border-color: #e7484b;
  background-color: #e7484b;
}
