.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  /* max-height: calc(90vh - 100px); */
}

.edit-title {
  width: 50vw;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.edit-title > h2 {
  margin-right: 0.5rem;
}

/* .edit-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.edit-user-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 50vw;
  height: 100%;
}

.edit-user-form-box .field {
  width: 100%;
  margin-bottom: 1%;
}

.edit-user-form-box .field .label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.edit-user-form-box .field .input {
  margin-bottom: 0.5rem;
}
.main-btn:disabled {
  background-color: dimgray;
  border: 0;
}
.main-btn:disabled:hover {
  background-color: dimgray;
  border: 0;
}
#addressButton {
  width: 30%;
}

#postcode {
  width: 40%;
}

.address-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .edit {
    max-height: calc(90vh - 100px);
  }

  .edit-container {
    width: 100vw;
  }

  .edit-title {
    width: 100%;
  }

  .edit-user-form-box {
    width: 100%;
  }

  .edit-user-form-box .field {
    width: 100%;
  }

  .edit-user-form-box .field .input {
    width: 100%;
  }

  .edit-user-form-box .button,
  #addressButton {
    width: 50%;
  }
}
