/* 공통 */
.seperator {
  width: 100%;
  height: 0px;
  border: 0.5px solid #c5c5c5;
}
.title {
  height: 5vh;
  line-height: 5vh;

  font-size: 20px;
}
/* 진행사항 */
#order {
  color: #f01e21;
  font-weight: bold;
}

/* 주문자 정보 */
.form {
  display: flex;
  flex-direction: column;

  width: 65%;
  padding: 5px;
}
#user-info-form {
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 3fr 2fr;
}
#user-info-form .field {
  display: grid;
  grid-template-columns: 1fr 4fr;

  margin-top: 4%;
}
#user-info-form .field .input,
select {
  width: 100%;
  height: 5vh;
  padding-left: 2%;

  background: #ffffff;
  border: 1px solid #c5c5c5;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline-style: none;

  color: black;
}
/* 우편번호와 주소찾기 줄 */
#user-info-form .address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#user-info-form #addressInput #findAddressBtnLine {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 3%;
}
#user-info-form #addressInput #findAddressBtnLine button {
  width: 100%;
  border-style: none;
  border-radius: 5px;
  color: black;
  background-color: #d9d9d9;
}
#user-info-form #requestMsgInputDiv .control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* 결제 정보 */
.info-card {
  width: 30%;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1rem;
  margin-top: 1rem;
}

div.order-list #orderTitle {
  min-width: 5vw;
}
div.order-list #orderItems {
  flex: display;
  flex-direction: column;

  text-align: right;
}
div.order-list #orderItems > div {
  margin-top: 4px;
}

div.total {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 2rem 0;
  align-items: flex-end;
}

#purchase-btn {
  width: 100%;
  height: 5vh;

  border-color: #f01e21;
  border-radius: 7px;
  background-color: #f01e21;

  font-weight: bold;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  div.info-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  div.info-card,
  .form {
    width: 90%;
  }
}
