/* 겅텅 */
.seperator {
  width: 100%;
  height: 0px;
  border: 0.5px solid #c5c5c5;
}
/* 진행 상태 */
#complete {
  color: #f01e21;
  font-weight: bold;
}
/* 컨텐츠 */
.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 주문 정보 박스 */
.info-card {
  width: 60%;

  display: flex;
  flex-direction: column;
  padding: 10px;
}
.info-name {
  height: 5vh;
  line-height: 5vh;

  font-size: 20px;
}
/* 주문 정보 */
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1rem;
  margin-top: 1rem;
}
/* 주문 상품 정보 */
#orderedItem {
  text-align: end;
}
/* 최종 결제 금액 */
.total {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 2rem 0;
  align-items: flex-end;
}

.main-btn {
  margin-bottom: 3vh;
}

@media all and (max-width: 768px) {
  div.info-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  div.info-card {
    width: 90%;
  }
}
