section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  height: 80%;
}

.item-left {
  width: 50%;
  height: 100%;
}

.item-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.item-description-box {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 90%;
}

.item-description-box #item-name {
  font-size: 1.75em;
  font-weight: bold;
  height: 10%;
}

.item-description-box #stock {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  height: 10%;
}

.item-description-box #stock i {
  color: #f01e21;
  font-size: 1.25em;
  animation: ringing 1s ease-in-out infinite;
}

@keyframes ringing {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.item-description-box .item-contents {
  height: 90%;
}

#tagList {
  margin: 1vh 0;
  display: flex;
  flex-wrap: wrap;
}

.tag-name {
  border: #f01e21 solid 1px;
  border-radius: 5px;
  padding: 0.5vh 1vh;
  margin: 0.5vh;
  font-size: 1.5vh;
  font-weight: bold;
}

.item-description-box .item-contents #item-company {
  margin-top: 3%;

  font-size: 1.2em;
}

.item-description-box .item-contents #item-price {
  margin-top: 3%;

  font-size: 1.1em;
  font-weight: bold;
  color: #f01e21;
}

.item-description-box .item-contents #item-explanation {
  width: 100%;
  margin-top: 3%;
  font-size: 1em;
  overflow: scroll;
}

.item-buttons-box {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

#addCartBtn,
#orderBtn {
  width: 15vw;
  height: 100%;
  border-radius: 7px;

  font-size: 1.2em;
  font-weight: bold;
}

#addCartBtn {
  border-color: #d9d9d9;
  background-color: #d9d9d9;

  color: black;
}

#orderBtn {
  border-color: #f01e21;
  background-color: #f01e21;
}

#addCartBtn:hover {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}

#orderBtn:hover {
  border-color: #e7484b;
  background-color: #e7484b;
}

@media all and (max-width: 768px) {
  section {
    height: 120vh;
  }

  .item {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .item-left,
  .item-right {
    width: 80%;
  }
  .item-left {
    height: 30%;
  }
  .item-right {
    height: 65%;
    margin-top: 5%;
  }

  .item-description-box #stock {
    position: relative;
    font-size: 1em;
    height: 10%;
    margin-bottom: 1vh;
  }

  #item-name {
    margin-bottom: 1.5vh;
  }
  .item-description-box .item-contents {
    height: 100%;
  }
  .item-description-box .item-contents #item-explanation {
    height: 20vh;
  }

  .item-buttons-box {
    width: 100%;
    height: 50%;
  }

  #addCartBtn,
  #orderBtn {
    width: 100%;
    height: 50%;
    font-size: 0.8rem;
  }
}
