.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300vh;
  background-color: #202020;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}
