.swiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f01e21;
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
  border-radius: 50%;
  opacity: 0.25;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

#items {
  height: 300vh;
}

.soldout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 50px auto 0;
  width: 90%;
  place-content: center;
  place-items: center;
}

.soldout-container h2 {
  grid-column: span 4;
  margin-bottom: 2.5rem;
}

.soldout-item a .img-wrap {
  width: 25vw;
  height: 25vw;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: 1rem;
}

.soldout-item h3,
.soldout-item p {
  width: 25vw;
  text-align: center;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.soldout-item p:last-child {
  color: #f01e21;
  font-weight: bold;

  animation: color 0.75s linear infinite;
}

@media screen and (max-width: 768px) {
  #quick-menu {
    display: none;
  }

  .soldout-container h2 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .soldout-item h3 {
    font-size: 1em;
    font-weight: bold;
  }

  .soldout-item p {
    font-size: 0.75em;
  }
}

@keyframes color {
  0% {
    color: #f01e21;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f01e21;
  }
}
