#category {
  height: 2.5rem;
  width: 100%;
  border: 1px solid #f01e21;
}

.category-items {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  place-content: center;
  margin: 0 auto;
}

.category-item {
  height: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
}

.swiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f01e21;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: #fff; */
  /* opacity: 0.5; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

#quick-menu {
  width: 80px;
  position: absolute;
  z-index: 10000;
  top: 541px;
  right: 20px;
  transition: top 0.75s ease;
}

#quick-menu .quick-image a {
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 7px;
}

.quick-items {
  border: 1px solid #dddddd;
  border-top: none;
}

.quick-items li a {
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 16px;
  text-align: center;

  height: 29px;
  width: 78px;
  border-top: 1px solid #dddddd;
  padding-top: 5px;

  background-color: transparent;

  display: block;
  cursor: pointer;
}

.recent-item {
  height: 5rem;
}

.recent-item img {
  width: 50px;
  height: 50px;
}

.recent-item p {
  width: 100%;
  height: 1rem;
  font-size: 0.5rem;
  overflow: hidden;
}

#items {
  height: 300vh;
}

.soldout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  width: 90%;
  place-content: center;
  place-items: center;
}

.soldout-container h2 {
  grid-column: span 4;
  margin-bottom: 2.5rem;
}

.soldout-item a .img-wrap {
  width: 25vw;
  height: 25vw;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: 1rem;
}

.soldout-item h3,
p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.soldout-item p:last-child {
  color: #f01e21;
  font-weight: bold;

  animation: color 0.5s linear infinite;
}

@keyframes color {
  0% {
    color: #f01e21;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f01e21;
  }
}
