.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 40%;
  height: 55%;
}
.login-form-box .field {
  width: 100%;
}
.login-form-box .field .label {
  display: block;
  margin-bottom: 10px;
}
.login-form-box .field .input {
  width: 100%;
  height: 5vh;
  padding-left: 2%;

  background: #ffffff;
  border: 1px solid #c5c5c5;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  outline-style: none;

  color: black;
}
.login-form-box .field .input:focus {
  border: 0.5px solid #e7484b;
  box-shadow: 0 0 0 0.125em #f01e21;
}

#socialLoginBtnBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;
  width: 100%;
  height: 5vh;
}
.social-btn {
  border-radius: 10px;
  height: 100%;
  border-style: none;
}
#socialLoginBtnBox #naverBtn {
  background-color: #03c75a;
}
#socialLoginBtnBox #kakaoBtn {
  background-color: #fee500;
  color: #000000;
}
#socialLoginBtnBox #googleBtn {
  background-color: #4285f4;
}
.login-form-box .button {
  width: 100%;
  height: 5vh;

  border-color: #f01e21;
  border-radius: 10px;
  background-color: #f01e21;

  font-weight: bold;
}
.login-form-box .button:hover {
  border-color: #e7484b;
  background-color: #e7484b;
}
