<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="Collector's" />
    <meta
      name="description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta property="og:title" content="Collector's" />
    <meta
      property="og:description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta
      property="og:image"
      content="https://team20.s3.ap-northeast-2.amazonaws.com/image/06797180db33-11ec-b729-b56803da2900.jpeg"
    />
    <meta property="og:url" content="홈페이지 url" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="홈페이지 url" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="홈페이지 url" />
    <meta name="twitter:title" content="Collector's" />
    <meta
      name="twitter:description"
      content="당신이 원하는 모든 능력을 찾아 우주 최강이 되어보세요!"
    />
    <meta
      name="twitter:image"
      content="https://team20.s3.ap-northeast-2.amazonaws.com/image/06797180db33-11ec-b729-b56803da2900.jpeg"
    />
    <meta
      name="keywords"
      content="마블, 초능력, 쇼핑몰, 무기, 히어로, 빌런, 능력, 마법"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collector's Cart</title>

    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../components/Order/style.css" />
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <div id="wrap">
      <!-- 헤더 -->
      <nav></nav>
      <section class="cart">
        <div class="cart-wrap">
          <div class="order-status">
            <p id="cart">장바구니</p>
            <p id="order">> 주문 결제</p>
            <p id="complete">> 주문 완료</p>
          </div>
          <div class="info-wrapper">
            <div class="items">
              <div class="select">
                <label class="checkbox">
                  <input type="checkbox" id="allSelectCheckbox" checked />
                  <div>전체 선택</div>
                </label>
                <div id="delete-all-btn">선택 삭제</div>
              </div>
              <div class="seperator"></div>
              <div id="cart-item-wrapper">
                <!-- 카트 아이템 목록 -->
              </div>
            </div>
            <div class="info-card">
              <div class="title">
                결제 정보
                <div class="seperator"></div>
              </div>
              <div class="order-info">
                <!-- component에서 추가하던 부분 -->
              </div>
              <div class="data total">
                <!-- 결제 정보 -->
              </div>
              <button class="button main-btn" id="order-btn">주문 하기</button>
            </div>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
